# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:9000
NEXT_PUBLIC_DOMAIN=jaalyantra.com

# AWS S3 Configuration
NEXT_PUBLIC_AWS_S3=https://your-s3-bucket.s3.amazonaws.com

# Production Configuration
# NEXT_PUBLIC_API_URL=https://api.jaalyantra.com
# NEXT_PUBLIC_DOMAIN=jaalyantra.com
